.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: whitesmoke;
  align-items: center;
  padding: 0 16px;
  position: fixed;
  z-index: 10;
}

.image {
  width: 25px;
  height: 25px;
}

.list {
  position: absolute;
  width: 75%;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
  background-color: whitesmoke;
  z-index: 10;
  text-align: center;
}

.listLaptop ul {
  display: none;
}

.list ul li {
  font-size: 20px;
  line-height: 30px;
}

.burger {
  z-index: 100;
  margin-left: auto;
}

.cart {
  display: none;
}

.menuBottom {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: whitesmoke;
}

.itemBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  height: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav {
    height: 70px;
    padding: 0 30px;
  }

  .list {
    width: 45%;
  }

  .burger {
    font-size: 20px;
  }

  .menuBottom {
    justify-content: space-evenly;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .listLaptop {
    height: 100%;
    /* background-color: blue; */
  }
  .listLaptop ul {
    display: flex;
    /* background-color: red; */
    height: 100%;
  }

  .listLaptop ul li {
    height: 100%;
    padding: 0 4px;
    padding-top: 24px;
    /* background-color: yellow; */
    margin: 0 10px;
    font-size: 14px;
  }

  .listLaptop ul li:hover {
    background-color: rgb(197, 197, 197);
  }

  .nav {
    padding: 0 40px;
  }

  .cart {
    display: flex;
    gap: 20px;
  }

  .burger {
    display: none;
  }

  .menuBottom {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
