.button {
  display: grid;
  place-items: center;
  width: 160px;
  height: 35px;
  background-color: orange;
  border: none;
  color: white;
  border-radius: 5px;
}

.button:hover {
  transform: translateY(-5px);
  transform: scale(1.1);
  transition: all 0.3s;
}
