.header {
  width: 100%;
  min-height: 100px;
  padding: 40px 0;
  /* padding-top: 60px; */
  place-items: center;
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    min-height: 200px;
    /* background-color: yellow; */
    padding: 0;
    padding-top: 80px;
  }
  .header h1 {
    font-size: 44px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    min-height: 220px;
    /* background-color: yellow; */
    padding: 0;
    padding-top: 60px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
