.container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container p {
  font-size: 16px;
}
.container div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}
.container div span {
  font-size: 22px;
  cursor: pointer;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }
  .container div {
  margin-top: 0px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
